h1{
  color: palevioletred;
  text-align: center;
}
h2{
  color: brown;
}
.text , .write{
  color: aqua;
  font-weight: bold;
  font-size: 20px;
  text-indent: 1rem;
}
.footer{
  color: #bc7676 !important;  

}
.lienket p{
  color: rgb(227, 227, 156);
}